# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Playwright cache (optional local cache)
playwright-report/

# Dados locais (nao versionar no GitHub)
planilha/**
!planilha/.gitkeep
config_formulario.json

# Build
dist/
build/
*.spec
*.exe